
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
font-family: "Poppins", serif;
padding: 0%;
margin: 0%;
}
.navbar{
    text-align: center;
padding-left:15%;
 display:flex;
justify-content: space-between;
padding-right: 15%;
margin-top: 15px;
background-color: white;
z-index: 1;
position: sticky;

}
.item{
    margin-top: 10px;
    
}
.item a{
    text-decoration:none;
    color: black;
    padding: 10px 20px;
    
    
}
.item a:hover{
    border: 2px none black;
    border-radius: 25px;
    background-color:lightgray;
    
}
.sign{
    display: flex;
    left: 30%;
    top: 10px;
}
.sign a{
    top: 10px;
    padding-left: 20px;
}
.search h1{
    font-size: 55px;
    text-align: center;
    padding: 50px;
}
.search{
    display: block;
}
.search1 {
    display:flex;
    justify-content: center;
    color:black;
    
}
.search1 a{
    padding: 0px 25px;
    color: black;
    text-decoration: none;
}
.search1 a:hover{
    text-decoration:underline;
}

.link1{
    border:2px  solid black;
    width:870px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    margin-top: 30px;    
    margin-left:21%;
    margin-right:21%;
    height: 45px; 
}
.link1 input{
    width:700px;
    text-align: center;
    border: none;
    padding: 10px;
    outline: none;
}
.link1 a{
    padding: 10px;
}
.link1 button{
    margin: 2px;
}
.link1 button{
    cursor: pointer;
 
}
.section1{
background:url("https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dHJhdmVsJTIwd2FsbHBhcGVyfGVufDB8fDB8fHww");
color: white;
background-repeat: no-repeat;
height:500px;
position: relative;
background-position: center;
background-size: cover;
width: 70%;
border-radius: 25px;
margin-left: 15%;
margin-right: 15%;
margin-top: 75px;
}
.section1 button{
    margin-top: 10px;
    color:black;
    background-color: aliceblue;
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    margin-top: 20px;
}
.sec{
    position: absolute;
    padding-left: 20px;
    top: 350px;
}
section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add{
    background-color: lightskyblue;
    width:70%;
    border-radius: 25px;
    display:flex;
    height: 200px;
    margin-top: 50px;
    

}
.add h6{
    border-radius: 15px;
    height: 10px;
    color: rgb(148, 137, 137);
    background-color: aliceblue;
    padding: 5px;
    display: inline;
}
.add h3{
    padding: 30px;
    justify-content: center;
}
.addin{
    padding: 25px;
    width: 100%;
    justify-content: center;
    align-items:center ;
    padding-left: 50px;
    position: relative;
    
}
.addin button{
    padding: 10px;
    cursor: pointer;
    border-radius: 25px;
    text-decoration: none;
    border: none;
}
.add button{
    position: absolute;
    right: 15px;
    
}
.pages{
    width: 70%;
    padding-top: 50px;
}
.pages h1{
    font-size: 30px;
}
.pages img{
    width: 300px;
    border-radius: 30px;
}
.content-1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top:50px;
    overflow-x: scroll;
    gap: 30px;
}
.content-1 a{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.content-1 i{
    position: absolute;
    right: 20px;
    top: 20px;
}
.content-1 i:hover{
color: red;
}
.img1{
    position: relative;
}
.pages1{
    width: 70%;
    padding-top: 50px;
}
.pages1 img{
    width: 300px;
    border-radius: 30px;
    height:200px;
}
.img2{
text-align: center;
}
.page2{
    width: 70%;
    padding-top: 50px;
}
.content-2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    overflow-x: scroll;
    padding-top: 50px;
}
.content-2 img{
    width: 300px;
    height: 200px;
    border-radius: 25px;
}
.img3{
    position:relative;
}
.img3 i 
{
    position:absolute;
    top: 10px;
    right: 10px;
}
.img3 i:hover{
    color: red;
}
.add1{
    margin-top: 50px;
    width: 70%;
    height: 250px;
    background-color: lightgoldenrodyellow;
    border-radius: 30px;
    display: flex;
    position: relative;
}
.add1 h1{
    color: black;
    margin-top: 50px;
    width: 100%;
    background-color: lightblue;
    border-radius: 30px;
    padding: 10px;
}
.add1 p{
    color: rgb(144, 143, 143);
    margin-top: 80px;
    width: fit-content;
    background-color: lightblue;
    border-radius: 30px;
}
.add1 img{
    height: 200px;
    width: 200px;
    padding: 20px;
    border-radius: 30px;
}
.add1 button{
    padding: 20px;
    border-radius: 30px;
    color: black;
    position: absolute;
    bottom:10px;
    right: 10px ;

}
.add1 button:hover{
    color: lightpink;
}
.add2{
    background-color: rgb(192, 192, 154);
    margin-top: 50px;
    padding: 20px;
}
.img4 img{
    width: 300px;
    height: 250px;
}
.image{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.img4{
    width: 300px;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 20px;
}
.img4 a{
    
    color: black;
    padding: 20px;
    text-align: center;
    
}

.content-3{
    display: flex;
    width:100%;
    overflow-x: scroll;
    justify-content: center;
}
.content-3 img{
    width: 200px;
    margin: 30px;
    border-radius: 30px;
}
.page3{
    width: 70%;
    margin-top: 50px;
}
.page4{
    width: 70%;
    margin-top: 50px;
}
.page5{
    width: 70%;
    margin-top:50px;
    background-color: rgb(212, 128, 212);
    display: flex;
    justify-content: center;
    text-align: center;
}
.page5 img{
    width: 450px;
    padding: 20px;
    border-radius: 30px;
}
.content-4 button{
    color: white;
    background-color: black;
    border-radius: 30px;
    padding: 10px;
}
.content-4 button:hover{
    color:pink;
}
.content-4{
    margin-top: 150px;
}
.page6{
    margin-top: 50px;
    width: 100%;
    height: 500px;
    background-image: url("https://images.hdqwalls.com/wallpapers/the-last-trip-jx.jpg");
    color: lightgoldenrodyellow;

}
.page6 button{
    padding: 10px;
    background-color:darkblue;
    color: white;
    border-radius: 30px;
}
.page6 button:hover{
    color:pink;
}
.content-5{
    padding: 175px;
}
.content-5 h1{
    padding: 30px;
}
.content-5 p{
    padding:30px;
}
.content-5 button{
    margin-top: 20px;
    margin-left: 300px;
}